{% load staticfiles %}
<html lang="en">
<head>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

  <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/rapport.css' %}">
  <link rel="stylesheet" href="{% static 'css/form_report.css' %}">
  <link rel="stylesheet" href="{% static 'css/login_required.css' %}">

</head>
<body>

  <div class="wrapper">


  <div class="col-lg-12 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-3 col-xs-12">

      <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
  </div>
  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      This website was made with <i class="fa fa-heart"></i> by Margot, Camille and Eléonore
    </div>
  </div>
</body>

