{% load staticfiles %}
<html lang="en">
<head>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

  <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/rapport.css' %}">
  <link rel="stylesheet" href="{% static 'css/form_report.css' %}">
  <link rel="stylesheet" href="{% static 'css/login_required.css' %}">

</head>
<body>
  <div class="navbar-wagon">
    <div class="navbar-wagon-right hidden-xs">
        <a href="{% url 'home'%}"  class="navbar-wagon-item navbar-wagon-link">Home</a>
        <a href="{% url 'report_list'%}"  class="navbar-wagon-item navbar-wagon-link">Dashboard</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout'%}"  class="navbar-wagon-item navbar-wagon-link">Logout</a>
        {% else %}
          <a href="{% url 'login'%}"  class="navbar-wagon-item navbar-wagon-link">Login</a>
        {% endif %}
    </div>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-drop hidden-lg hidden-md hidden-sm">
      <div class="dropdown">
        <span style="font-size:30px;cursor:pointer" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">&#9776;</span>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'report_list'%}">Dashboard</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout'%}" >Log Out</a></li>
          {% else %}
            <li><a href="{% url 'login'%}" >Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock content %}

  <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
  </script>


  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/MargotLepizzera/my-first-blog"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      This website was made with <i class="fa fa-heart"></i> by Margot, Camille and Eléonore
    </div>
  </div>
</body>
