{% extends 'mydashboard/base.html' %}

{% block content %}
<div class="container_report">
<!--   <div class="col-xs-12 col-lg-8 col-lg-offset-2"> -->
  <div class= row_report>


    <div class="col-xs-12 col-lg-8 form_report">
      <div class="icon-edit"><i class="fas fa-play"></i>  <i class="fas fa-file icon-report" ></i></div>
      <div class="title_report"><h2>A new patient? Create a new report</h2></div>


      <form method="POST" class="post-form">{% csrf_token %}
        <p>Add a title to your new report:</p>
        <label for="title" placeholder="Titre">{{ form.title }}</label><br />
        <br>
        <p>Name of the patient concerned and possible comments:</p>
        <label for="title" placeholder="Titre">{{ form.text }}</label><br />
        <br>
        <br>
        <button type="submit" class="save btn btn-primary add-button" style="position: absolute; right: 68px">Connect your microbit and save data in this report</button>
      </form>
      <br>
      <div class="back"><a href="{% url 'report_list' %}" class="top-menu"><span>Back to Dashboard</span></a></div>

    </div>


  </div>
</div>


{% endblock %}

