{% extends 'mydashboard/base.html' %}

{% block content %}

{% load staticfiles %}


<div class="container_dashboard">
  <br>
  <div class="doctor" style="background-image:url('/static/images/electro.jpg')">
    <img src='{% static "images/margot.jpeg" %}' class="avatar-large"/>
    <h3>{{ user.username }}</h3>
    <h4>Médecin Généraliste à Paris</h4>
  </div>


  <br>
  {% for report in reports %}
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <div class="card">
        <div class=icon>
          <i class="fas fa-play"></i>  <i class="fas fa-file-alt icon-report" href="{% url 'report_edit' pk=report.pk %}" ></i>
        </div>

        <div class="card-description">
          <h2>{{ report.title}}</h2>
          <p>Patient(e): {{ report.text}}</p>

        </div>
        <div class="card-date">{{ report.published_date}}</div>
        <a class="card-link" href="{% url 'report_detail' pk=report.pk %}"><i class="far fa-save"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
  <br>
  <a href="{% url 'report_new' %}" class="btn btn-primary add-button"><span>Ajouter un nouveau rapport</span></a>
  <br>
  <br>
  <br>
</div>

{% endblock %}



