.container_report {
  text-align: center;
  background-color: #E9EEF1;
  width: 100%
}

.row_report {
  display: flex;
  justify-content: center;
}

.form_report {
  background-color: white;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  height: 520px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title_report {
  position: absolute;
  top: 30px;
  left: 130px;
}

.icon-edit {
 position: absolute;
 top: 40;
 left: 40;
 transition: 0.5s;
 transform: translateZ(0);
}

.post-form {
  position: absolute;
  top: 150px;
  left: 130px;
}

.back {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.top-menu:hover {
  text-decoration: none;
}


input[type=text] {
  background-color: #f1f1f1;
  height: 40px;
}

#id_title {
  width: 660px;

}

textarea {
  height: 80px;
  width: 660px;
}
