.container {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  height: 130px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d1dc;
  border-radius: 3px;
  color: black;
  position: relative;
}
.card-date {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-description {
  position: absolute;
  top: 20px;
  left: 20px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card:hover {
  background-color: #eff0f2;
}

